html, body {
  margin: 0;
  padding: 0;
  background: #b43a3a;
background: linear-gradient(90deg,rgba(180, 58, 58, 1) 0%, rgba(197, 253, 29, 1) 50%, rgba(252, 69, 69, 1) 100%);
}
canvas {
  display: block;
}

h1 {
  color:chartreuse;
  text-align: center;
  font-size: 8vw
}

h5 {
  color:blueviolet
}

img {
  width: 3;
}